# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# System files
src/.DS_Store
src/.vscode/ipch/b8f308bcfc7e7519/main.ipch
src/.vscode/ipch/b8f308bcfc7e7519/mmap_address.bin
src/a.out.dSYM/Contents/Info.plist
.vscode/settings.json
a.out.dSYM/Contents/Info.plist

# Executables
*.exe
*.out
*.app
bpcg
tsp
cvrp
